<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <input type="text" name="name">Name: </input>
  <input type="text" name="email">Email:    </input>
  <input type="text" name="password">Password:  </input>
    <input type="submit" value="Submit">
</form>
